@import url(style_all.css);

body {
    margin:0;
}

.home-title {
    font-size: 48px;
    font-family: "Vanilla";
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    color: gold;
}

.home-title1 {
    font-size: 58px;
    font-family: "Virgo 01";
    text-align: center;
    letter-spacing: 2px;
    font-weight: 100;
    color: #fff;
}

@media (max-width: 1200px) {
    #pagehead {
        height: 500px !important;
    }
}

@media (max-width: 768px) {
    #pagehead {
        height: 300px !important;
    }
    .home-title {
        font-size: 36px;
    }
    .home-title1 {
        font-size: 48px;
    }
}

#pagehead {
    background-image: url(../img/main/1385585816.jpg);
    height: 750px;
    margin-top: 50px;
}