@import url(style_all.css);

#pagehead {
    background-image: url(../img/About/1007601999.png);
    height: 600px;
    background-position: 0 55%;
}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {
    #pagehead {
        height: 400px !important;
    }
}