@font-face {
    font-family: "Virgo 01";
    src: url("../font/Virgo-01/virgo.ttf");
}
@font-face {
    font-family: "Vanilla";
    src: url("../font/Vanilla/Vanilla.ttf");
}

:root {
    --messenger-color-filter: brightness(0) saturate(100%) invert(58%) sepia(78%) saturate(3909%) hue-rotate(169deg) brightness(105%) contrast(104%);
    --fb-color-filter: brightness(0) saturate(100%) invert(31%) sepia(15%) saturate(2334%) hue-rotate(183deg) brightness(97%) contrast(85%);
    --line-color-filter: brightness(0) saturate(100%) invert(74%) sepia(11%) saturate(7476%) hue-rotate(69deg) brightness(88%) contrast(89%);
    --white-color-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7460%) hue-rotate(129deg) brightness(110%) contrast(112%);
}

#pagehead {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav {
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.1);
}

.nav-link {
    color:black;
}

.navbar-toggler-icon {
    width: 40px;
    height: 40px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

/* nav.scrolled {
    background-color: rgba(255, 255, 255, 0.3);
} */

nav ul li {
    display: inline-block;
    margin: 5px 0 5px 0;
    border-radius: 5px;
    /* line-height: 30px; */
    padding: 0 5px 0 5px;
}

nav li a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.logo-hover:hover {
    opacity: 0.7;
}

nav div ul li button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#cliffDropDown,
#liyuDropDown,
#roundDropDown {
    position: relative;
}

#cliffDropDown div,
#liyuDropDown div,
#roundDropDown div {
    background-color: aliceblue;
}

#cliffDropDown div a,
#liyuDropDown div a,
#roundDropDown div a {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    #cliffDropDown div,
    #liyuDropDown div,
    #roundDropDown div {
        position:static !important;
        /* width: 100%; */
    }
}

#fixedGoup {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
}

.icon-size {
    margin-top: 8px;
    width: 36px;
}

#fixedGoup div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    /* background-color: lightgray; */
}

/* #messenger {
    filter: var(--messenger-color-filter);
} */

/* #fbIcon {
    filter: var(--fb-color-filter);
} */

/* #lineIcon {
    filter: var(--line-color-filter);
} */

footer {
    text-align: center;
}

footer img {
    width: 30px;
    margin-right: 5px;
}