@import url(style_all.css);

#pagehead {
    background-image: url(../img/About/1007601999.png);
    background-position: 0 55%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {
    #pagehead {
        height: 400px !important;
    }
}